<%= render "header" %>

<div class="body-bio">
  <div class="banner-bio">
    <div class="banner-content-container">
      <div class="avataar">
      </div>
      <div class="text-banner">
        <h1 class="title-banner">Bio Lorem timebantur</h1>
        <h4>Parietes timebantur velut quondam in velut parietes citerioris timebantur conscii velut in paterfamilias Marcio paterfamilias.</h4>
      </div>
    </div>
  </div>
</div>

<div class="container margintop">
  <div class="card-bio ligne">
    <div class="left py-2"><p><i class="fas fa-6x fa-graduation-cap" style="color: #8B0000;"></i></p></div>
    <div class="text-bio">
      <p>Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt, cultorum ut puta feracium multiplicantes annuos fructus, quae a primo ad ultimum solem se abunde iactitant possidere, ignorantes profecto maiores suos, per quos ita magnitudo Romana porrigitur, non divitiis eluxisse sed per bella saevissima, nec opibus nec victu nec indumentorum vilitate gregariis militibus discrepantes opposita cuncta superasse virtute.</p>
    </div>
  </div>
  <div class="card-bio ligne">
    <div class="hide py-2"><p><i class="fas fa-6x fa-globe-europe" style="color:   #2F4F4F;"></i></p></div>
    <div class="text-bio">
      <p>Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt, cultorum ut puta feracium multiplicantes annuos fructus, quae a primo ad ultimum solem se abunde iactitant possidere, ignorantes profecto maiores suos, per quos ita magnitudo Romana porrigitur, non divitiis eluxisse sed per bella saevissima, nec opibus nec victu nec indumentorum vilitate gregariis militibus discrepantes opposita cuncta superasse virtute.</p>
    </div>
    <div class="right py-2"><p><i class="fas fa-6x fa-globe-europe" style="color:   #2F4F4F;"></i></p></div>
  </div>
  <div class="card-bio ligne">
    <div class="left py-2"><p><i class="fas fa-6x fa-book" style="color: #B8860B;"></i></p></div>
    <div class="text-bio">
      <p>Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt, cultorum ut puta feracium multiplicantes annuos fructus, quae a primo ad ultimum solem se abunde iactitant possidere, ignorantes profecto maiores suos, per quos ita magnitudo Romana porrigitur, non divitiis eluxisse sed per bella saevissima, nec opibus nec victu nec indumentorum vilitate gregariis militibus discrepantes opposita cuncta superasse virtute.</p>
    </div>
  </div>
  <div class="card-bio ligne">
    <div class="hide py-2"><p><i class="far fa-6x fa-flag" style="color: #008080;"></i></p></div>
    <div class="text-bio">
      <p>Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt, cultorum ut puta feracium multiplicantes annuos fructus, quae a primo ad ultimum solem se abunde iactitant possidere, ignorantes profecto maiores suos, per quos ita magnitudo Romana porrigitur, non divitiis eluxisse sed per bella saevissima, nec opibus nec victu nec indumentorum vilitate gregariis militibus discrepantes opposita cuncta superasse virtute.</p>
    </div>
    <div class="right py-2"><p><i class="far fa-6x fa-flag" style="color: #008080;"></i></p></div>
  </div>
  <div class="card-bio">
    <div class="left py-2"><p><i class="fas fa-6x fa-vote-yea" style="color:   #808000;"></i></p></div>
    <div class="text-bio">
      <p>Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt, cultorum ut puta feracium multiplicantes annuos fructus, quae a primo ad ultimum solem se abunde iactitant possidere, ignorantes profecto maiores suos, per quos ita magnitudo Romana porrigitur, non divitiis eluxisse sed per bella saevissima, nec opibus nec victu nec indumentorum vilitate gregariis militibus discrepantes opposita cuncta superasse virtute.</p>
    </div>
  </div>
</div>

<%= render 'footer' %>
